@import url('https://necolas.github.io/normalize.css/8.0.0/normalize.css');
/* base */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    min-height: 100vh;
}

body {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: rgba(59, 196, 176, 1);
    background: -moz-linear-gradient(top, rgba(59, 196, 176, 1) 0%, rgba(10, 199, 174, 1) 70%, rgba(10, 185, 191, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59, 196, 176, 1)), color-stop(70%, rgba(10, 199, 174, 1)), color-stop(100%, rgba(10, 185, 191, 1)));
    background: -webkit-linear-gradient(top, rgba(59, 196, 176, 1) 0%, rgba(10, 199, 174, 1) 70%, rgba(10, 185, 191, 1) 100%);
    background: -o-linear-gradient(top, rgba(59, 196, 176, 1) 0%, rgba(10, 199, 174, 1) 70%, rgba(10, 185, 191, 1) 100%);
    background: linear-gradient(to bottom, rgba(59, 196, 176, 0.9) 0%, rgba(10, 199, 174, 0.9) 70%, rgba(10, 185, 191, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(59, 196, 176, 1) 0%, rgba(10, 199, 174, 1) 70%, rgba(10, 185, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bc4b0', endColorstr='#0ab9bf', GradientType=0);
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/unsplash-bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.2;
}

a {
    text-decoration: none;
}

/* content */

.container {
    width: 35%;
    min-width: 320px;
    max-width: 576px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2em;
    height: 100%;
    z-index: 1;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

h3 {
    height: 40px;
    margin: 0 auto;
    color: #999;
    font-size: 1rem;
    font-weight: 500;
}

.verify {
    position: relative;
    background: #fff;
    margin: 2rem auto;
    padding: 1rem 0;
    border-radius: 3px;
    box-shadow: 5px 5px 15px #25b8a2;
    min-height: 320px;
}

.number {
    position: relative;
    top: -1px;
    color: #e9b000;
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 800;
}

.myloader {
    display: inline-block;
    vertical-align: middle;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #e9b000;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

/* animation */

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* form el */

.input--block {
    width: 80%;
    margin: 0 auto 15px;
}

input.email {
    padding: 0.85rem;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ddd;
    outline: 0;
    text-transform: lowercase;
}

input.email:focus {
    background: #fff;
    border: 1px solid #ccc;
}

label {
    color: #888;
    font-size: 0.8rem;
    font-weight: 200;
    margin: 10px 0;
    display: inline-block;
    text-transform: uppercase;
}

.button {
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
    outline: 0;
}

.button--submit {
    padding: 0.85rem 1.5rem;
    position: absolute;
    right: 10%;
}

.button--submit__disable {
    background: #eee;
    color: #999;
    border: 1px solid #ddd;
    cursor: no-drop;
}

.button--submit__active {
    background: #14aaf5;
    color: #fff;
    cursor: pointer;
    border: 1px solid #14aaf5;
}

.button--submit__active:hover {
    background: #0c90d3;
}

.button--normal {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.button--normal:hover {
    background: #e9b000;
    border: 1px solid #e9b000;
    color: #fff;
}

.msg-important {
    line-height: 1.3rem;
    color: #0c90d3;
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 5px;
}

.msg {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 200px;
}